section#hero
    #banner.carousel.slide(data-bs-ride='carousel')
        .carousel-indicators
            button.active(type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="1" aria-label="Slide 2")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="2" aria-label="Slide 3")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="3" aria-label="Slide 4")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="4" aria-label="Slide 5")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="5" aria-label="Slide 6")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="6" aria-label="Slide 7")
            button(type="button" data-bs-target="#banner" data-bs-slide-to="7" aria-label="Slide 8")

        .carousel-inner
            .carousel-item.active
                .img-src-01.img-size
            .carousel-item
                .img-src-02.img-size
            .carousel-item
                .img-src-03.img-size
            .carousel-item
                .img-src-04.img-size
            .carousel-item
                .img-src-05.img-size
            .carousel-item
                .img-src-06.img-size
            .carousel-item
                .img-src-07.img-size
            .carousel-item
                .img-src-08.img-size

    .logo-centered
        img(src="/images/logo/bogar-transportation-services.png", data-aos="fade-up", data-aos-duration="1000")