section#services
    .container
        .row
            .col.text-center
                h2
                    | Our services
        .row
            .col-12.col-sm-6.col-md-3
                img(src="/images/vectors/bilingual-driver.png", width="60%")
                p
                    | Bilingual drivers
            .col-12.col-sm-6.col-md-3
                img(src="/images/vectors/told-road.png", width="60%")
                p
                    | Toll highway
            .col-12.col-sm-6.col-md-3
                img(src="/images/vectors/cold-beverages.png", width="60%")
                p
                    | Cold beverages
            .col-12.col-sm-6.col-md-3
                img(src="/images/vectors/shopping-bag.png", width="60%")
                p
                    | Grocery stop