section#services
  .container
    .row
      .col-12
        h3 OUR SERVICES

    .row
      .col-12.col-sm-8
        .row
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/driver.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Certified bilingual drivers
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/vehicle.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Private and Collective units 
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/beverages.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Free bottled water   
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/road.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Toll Road fee included     
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/baby-seat.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Baby Seat
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/insurance.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Insurance
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/wifi.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Wifi        
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/flight.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Flight tracking
      .col-12.col-sm-4
        .box-grocery
          .d-block
            h4 GROCERY STOP
            p.white We also offer a shopping stop, this must be requested during your reservation, this service does include an additional cost.           
