section#testimonials
    #testimonial
        .container
            .row
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')
                        p  
                            | My husband and I have used Pica Transfers several times on our visits to Cabo. Pedro, the driver is always on time and very courteous. He is an excellent driver, and we will use his service again any time we are there.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ef/73/default-avatar-2020-13.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Gino F A
                            .date Apr 2019 • Family
                
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')  
                        p
                            | The owner Pedro Vazquez was on time to pick us up at the airport and bring us to our one week destination of Diamanti Resort. During the week we scheduled more than 4 trips with him to various golf courses and resturants and he was always on time both arriving and departing. He service was EXCELLENT!
                        p
                            | My wife and I would highly recomment Picaa Tranfers any time you fly into Los Cabos or just want to have a private car to visit other desitnation in the area.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ed/00/default-avatar-2020-4.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Suncruiser49
                            .date May 2019 • Friends
                
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')  
                        p
                            | I was referred to Pica transfers by a friend, and was thoroughly pleased with the service. They are promt, the car's are spotless and the driver's speak good English. I have found a new company to use.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/e3/6a/default-avatar-2020-47.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Edward J
                            .date Jul 2019 • Couples
                            
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')
                        p
                            | We first experienced Picaransfers as our initial drive for teh Cabo airport to Diamante.
                        p
                            | Our driver, Pedro Vasquez was so ploite and punctional, we ended up using Pica five times during our week at Diamante ( which also provides tranfers, etc.)
                        p
                            | We travel to Diamante twice a year, and plan to use them each time we are there, as we really feel safe, etc.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ed/ce/default-avatar-2020-7.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Martin Engelmann
                            .date Apr 2019 • Couples
