section#units
    .container
        .row
            .col-12
                h2.text-center
                    | Brand new units
                p
                    | We pride ourselves on offering the latest models equipped with cutting-edge technology to elevate your travel experience.

                p
                    | Discover unparalleled comfort and reliability as you explore the stunning landscapes of Los Cabos. Our meticulously maintained vehicles ensure a smooth and safe journey, allowing you to focus on creating unforgettable memories.
                p
                    | Whether you're arriving at the airport, exploring the city, or embarking on a scenic tour, our fleet of modern vehicles is at your service. From spacious SUVs, we cater to all your transportation needs with style and sophistication.
                p
                    | Ride with confidence knowing that our professional drivers are dedicated to providing exceptional service, making your journey seamless and enjoyable from start to finish.
                
