section#welcome
    .container
        .row
            .col-sm-12
                h2.text-center
                    | Bogar Transportation Services
                p
                    | Welcome to Los Cabos, where your journey begins! At Bogar Transportation Services, we're thrilled to offer you seamless and luxurious transportation services throughout this stunning destination. From the moment you arrive, our team is dedicated to providing you with safe, reliable, and comfortable transportation solutions, ensuring your travels are as enjoyable as the destination itself. Whether you're exploring the vibrant city life, heading to your resort, or embarking on exciting excursions, trust us to make every ride an experience worth savoring. Sit back, relax, and let us drive you through the beauty of Los Cabos!
                p
                    | My name is Bogar Marcelo, I been living in Cabo San Lucas since 2010, during all this time I been working in the industry, offering transportation services, I'm locally own company that provides you the best personal service in Los Cabos.
                p
                    | Give us the opportunity to be part your Cabo Sab Lucas experience, we warranty you the best service in private transportation with the best english spoken drivers and the newest fleet in the area.
                p
                    | Our cars are 100% sanitize every time someone gets in the car.

section#socialmedia
    .container
        .row
            .col-sm-12.col-md-6
                #TA_rated38.TA_rated
                    ul#hY4BvNzZ.TA_links.ik6vxqpeD1
                        li#glPa324Cw.6gnRaQ39sgCF
                            a(target='_blank' href='https://www.tripadvisor.com/Attraction_Review-g152515-d23949524-Reviews-Bogar_Hipolito_Marcelo_Morales-Cabo_San_Lucas_Los_Cabos_Baja_California.html')
                                img(src='https://www.tripadvisor.com/img/cdsi/img2/badges/ollie-11424-2.gif' alt='TripAdvisor')
                script(async='' src='https://www.jscache.com/wejs?wtype=rated&uniq=38&locationId=23949524&lang=en_US&display_version=2' data-loadtrk='' onload='this.loadtrk=true')
                #TA_certificateOfExcellence519.TA_certificateOfExcellence
                    ul#R5ncsvATcuit.TA_links.M3fzW8
                        li#KHcug3g.hh4iEQxHW
                            a(target='_blank' href='https://www.tripadvisor.com/Attraction_Review-g152515-d23949524-Reviews-Bogar_Hipolito_Marcelo_Morales-Cabo_San_Lucas_Los_Cabos_Baja_California.html')
                                img#CDSWIDCOELOGO.widCOEImg(src='https://static.tacdn.com/img2/travelers_choice/widgets/tchotel_2023_L.png' alt='TripAdvisor')
                script(async='' src='https://www.jscache.com/wejs?wtype=certificateOfExcellence&uniq=519&locationId=23949524&lang=en_US&year=2023&display_version=2' data-loadtrk='' onload='this.loadtrk=true')

            .col-sm-12.col-md-6
                .fb-page(data-href="https://www.facebook.com/Cabo-transportation-exclusive-services-102411758262514/", data-width="750" data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
                    blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/Cabo-transportation-exclusive-services-102411758262514/")
                        a(href="https://www.facebook.com/Cabo-transportation-exclusive-services-102411758262514/") Cabo Transportation Services

