section#above-footer
  .container
    .row
      .col-6.text-right
        h3 SIGUENOS EN:
      .col-6.text-left
        a(href='https://www.facebook.com/Picatransfersloscabos')
          i.fa-brands.fa-facebook-f
        a(href='https://www.tiktok.com/@picatransfers.loscabos')
          i.fa-brands.fa-tiktok
        a(href='https://www.instagram.com/picatransfers/')
          i.fa-brands.fa-instagram    
