section#services
  .container
    .row
      .col-12
        h3 NUESTROS SERVICIOS
    .row
      .col-12.col-sm-8
        .row
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/driver.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Conductores bilingües certificados
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/vehicle.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Unidades privadas y colectivas
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/beverages.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Botella de agua gratis
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/road.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Tarifa de peaje incluida
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/baby-seat.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Asiento para bebé
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/insurance.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Seguros
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/wifi.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Wifi
          .col-6.col-sm-3.text-center
            img(src='/images/vectors/flight.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Seguimiento de vuelos
      .col-12.col-sm-4
        .box-grocery
          .d-block
            h4 PARADA PARA COMPRAS
            p.white También ofrecemos una parada para compras, esta debe ser solicitada durante su reserva, este servicio incluye un costo adicional.
