section#testimonials
    #testimonial
        .container
            .row
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')
                        p  
                            | Mi esposo y yo hemos utilizado Pica Transfers varias veces en nuestras visitas a Cabo. Pedro, el conductor, siempre llega a tiempo y es muy cortés. Es un conductor excelente y volveremos a utilizar su servicio cada vez que estemos allí.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ef/73/default-avatar-2020-13.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Gino F A
                            .date Abr 2019 • Familia
                
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')  
                        p
                            | El propietario, Pedro Vázquez, llegó a tiempo para recogernos en el aeropuerto y llevarnos a nuestro destino de una semana, el Diamanti Resort. Durante la semana, programamos más de 4 viajes con él a varios campos de golf y restaurantes y siempre fue puntual tanto a la llegada como a la salida. ¡Su servicio fue EXCELENTE!
                        p
                            | Mi esposa y yo recomendamos ampliamente PicaTransfer cada vez que vueles a Los Cabos o simplemente quieras tener un auto privado para visitar otros destinos en el área.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ed/00/default-avatar-2020-4.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Suncruiser49
                            .date May 2019 • Amigos
                
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')  
                        p
                            | Un amigo me recomendó Pica Transfers y quedé muy satisfecho con el servicio. Son puntuales, los coches están impecables y los conductores hablan bien inglés. He encontrado una nueva empresa para utilizar.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/e3/6a/default-avatar-2020-47.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Edward J
                            .date Jul 2019 • Pareja
                            
                .col-12.col-sm-6.col-md-3
                    .testimonial-text
                        img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_stars_5.png?w=640&ssl=1')
                        a.fixed-link(href='https://www.tripadvisor.com/Attraction_Review-g150773-d16962624-Reviews-or20-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html', target='_blank')
                            img(src='https://i0.wp.com/loscabosairporttransfers.com/wp-content/plugins/wp-tripadvisor-review-slider/public/partials/imgs/tripadvisor_outline.png?w=640&ssl=1')
                        p
                            | Experimentamos Picaransfers por primera vez como nuestro viaje inicial desde el aeropuerto de Cabo hasta Diamante.
                        p
                            | Nuestro conductor, Pedro Vásquez, fue tan amable y puntual que terminamos usando Pica cinco veces durante nuestra semana en Diamante (que también ofrece traslados, etc.)
                        p
                            | Viajamos a Diamante dos veces al año y planeamos usarlos cada vez que estemos allí, ya que realmente nos sentimos seguros, etc.
                        
                    .testimonial-bottom
                        .user-image
                            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/ed/ce/default-avatar-2020-7.jpg?w=100&h=-1&s=1')
                        .user-data
                            .name Martin Engelmann
                            .date Apr 2019 • Couples
