section#welcome
    .container
        .row
            .col-sm-12
              h2.text-center
                | PicaTransfers Los Cabos
              p
                | ¡Bienvenidos a PicaTransfers Los Cabos! Con 20 años de servicio dedicado, estamos orgullosos de ser una empresa de transporte líder en la impresionante región de Los Cabos. Nuestro viaje comenzó hace dos décadas con la misión de brindar soluciones de transporte confiables y sin inconvenientes adaptadas a las diversas necesidades de los locales y los visitantes.
              p
                | En PicaTransfers Los Cabos, priorizamos la seguridad, la comodidad y la eficiencia en cada viaje. Ya sea que necesite traslados al aeropuerto, recorridos privados, transporte corporativo o transporte para eventos, nuestro equipo experimentado está comprometido a garantizar un viaje tranquilo y agradable de principio a fin.
              p
                | Nuestra moderna flota está equipada con comodidades de primer nivel, y nuestros conductores profesionales y corteses conocen el área y están dedicados a brindar un servicio excepcional. A lo largo de los años, hemos construido relaciones duraderas con nuestros clientes, ganándonos su confianza a través de nuestro compromiso inquebrantable con la puntualidad, la confiabilidad y la atención personalizada.
              p
                | Como empresa local profundamente arraigada en la comunidad, comprendemos las necesidades únicas de nuestra clientela y nos esforzamos por superar las expectativas en todo momento. Ya sea que viaje solo, una familia de vacaciones, asista a un evento corporativo o forme parte de una excursión grupal, PicaTransfers Los Cabos está aquí para brindarle soluciones de transporte de primera calidad adaptadas a sus requisitos específicos.
              p
                | Gracias por considerar a PicaTransfers Los Cabos para sus necesidades de transporte. Únase a nosotros en nuestro viaje mientras continuamos manteniendo nuestra reputación de excelencia y confiabilidad en los impresionantes paisajes de Los Cabos.

section#socialmedia
    .container
        .row
            .col-sm-12.col-md-6
                

            .col-sm-12.col-md-6
                .fb-page(data-href="https://www.facebook.com/Picatransfersloscabos/", data-width="750" data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
                    blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/Picatransfersloscabos/")
                        a(href="https://www.facebook.com/Picatransfersloscabos/") Pica Transfers Los Cabos
