section#footer
  .container
    .row
      .col-sm-12.col-md-8.text-center
        img(src="../images/logo/bogar-transportation-services-white.png" width="80%", data-aos="fade-right", data-aos-duration="1000")
      .col-sm-12.col-md-4.text-right
        h3 PHONES NUMBER
        .text-center
          i.fa.fa-mobile
          a(href="tel:+5216242050607") +52 1 (624) 158 1502
        br
        h3 E-MAIL ADRESS
        p(align='center') bogartransportation@gmail.com    

section#design
  .container
    .row
      .col-sm-5.text-right.fs-6
        p
          | © 2023
          | Cabo Transportation Services
      .col-sm-2.text-center.fs-6
        img(src='../images/logo/mario-castro-gallegos.png', width='16px')
      .col-sm-5.text-left.fs-6
        a(href='http://mariocastrogallegos.com', target='_blank') web designer in cabo
