@media(max-width: 791px)
    .row-services
        width: 100% !important
        text-align: center !important
    .navbar-container
        flex-wrap: nowrap !important
@media (max-width: 576px)
    .wrap-icon
        flex-wrap: wrap
        justify-content: center !important
