#hero
    background-color #000
    height 1340px
    margin-top 0
    position relative

    .carousel-item
        height 1340px

    .img-src-01
        background-image url("/images/banners/banner-01.png")

    .img-src-02
        background-image url("/images/banners/banner-02.png")

    .img-src-03
        background-image url("/images/banners/banner-03.png")

    .img-src-04
        background-image url("/images/banners/banner-04.png")

    .img-size
        background-position center
        background-size cover
        height 100%
        width 100%

    .logo-centered
        height auto
        margin 0 auto
        position absolute
        text-align center
        top 308px
        width 100%

        img
            height auto
            width 60%

.carousel-indicators button
    background-color #fff !important
    border-radius 50% !important
    height 20px !important
    margin 0 !important
    margin-right 10px !important
    opacity 1 !important
    width 20px !important

.carousel-indicators button.active
    background-color #00A9E4 !important

@media (max-width: 3440px)
    #hero
        height 1200px

        .carousel-item
            height 1200px

@media (max-width: 3200px)
    #hero
        height 1100px

        .carousel-item
            height 1100px

@media (max-width: 3000px)
    #hero
        height 1000px

        .carousel-item
            height 1000px

@media (max-width: 2600px)
    #hero
        height 800px

        .carousel-item
            height 800px

@media (max-width: 2000px)
    #hero
        height 760px

        .carousel-item
            height 760px

@media (max-width: 1800px)
    #hero
        height 740px

        .carousel-item
            height 740px

@media (max-width: 1600px)
    #hero
        height 680px

        .carousel-item
            height 680px

@media (max-width: 1400px)
    #hero
        height 620px

        .carousel-item
            height 620px

@media (max-width: 1200px)
    #hero
        height 500px

        .carousel-item
            height 500px

@media (max-width: 991px)
    #hero
        height 360px

        .carousel-item
            height 360px

@media (max-width 767px)
    #hero
        height 260px

        .carousel-item
            height 260px   

section#promo
    background #fff
    padding 30px 0

    h2
        padding 20px 0

    a
        color #fff
        padding 10px
