#hero
    height 100vh
    margin-top 0
    position relative

    .carousel-item
        height 100vh

    .img-src-01
        background-image url("/images/banners/bogar-001.jpg")

    .img-src-02
        background-image url("/images/banners/bogar-002.jpg")

    .img-src-03
        background-image url("/images/banners/bogar-003.jpg")

    .img-src-04
        background-image url("/images/banners/bogar-004.jpg")

    .img-src-05
        background-image url("/images/banners/bogar-005.jpg")

    .img-src-06
        background-image url("/images/banners/bogar-006.jpg")

    .img-src-07
        background-image url("/images/banners/bogar-007.jpg")

    .img-src-08
        background-image url("/images/banners/bogar-008.jpg")

    .img-size
        background-position center
        background-size cover
        height 100%
        width 100%

    .logo-centered
        height auto
        margin 0 auto
        position absolute
        text-align center
        top 308px
        width 100%

        img
            height auto
            width 60%

.carousel-indicators button
    background-color #fff !important
    border-radius 50% !important
    height 20px !important
    margin 0 !important
    margin-right 10px !important
    opacity 1 !important
    width 20px !important

.carousel-indicators button.active
    background-color #00A9E4 !important

@media (max-width: 1990px)
    #hero
        height 60vh
        overflow hidden
        position relative

        .carousel-item
            height 60vh

        .logo-centered
            top 308px

            img
                width 50%

@media (max-width: 1650px)
    #hero
        height 1000px

        .carousel-item
            height 1000px

@media (max-width: 1400px)
    #hero
        height 800px

        .carousel-item
            height 800px

        .logo-centered
            top 240px

            img
                width 45%

@media (max-width: 991px)
    #hero
        height 400px
        margin-top 100px

        .carousel-item
            height 400px

        .logo-centered
            top 100px

            img
                width 35%

@media (max-width 767px)
    #hero
        .carousel-indicators
            display none

        .logo-centered
            display none

section#promo
    background #fff
    padding 30px 0

    h2
        padding 20px 0

    a
        color #fff
        padding 10px
