section#mainreserve
  background #96cdd4
  background-size cover
  background-position center

section#mycabotransfers
  color #000
  font-family "Source Sans Pro", Helvetica, sans-serif
  font-size 16.5pt
  font-weight 300
  line-height 1.65
  margin 0
  overflow hidden
  padding 30px 0
  position: relative;

  .form-error
    label
      color red
    input
      border 1px solid red

  #main-header
    color #fff
    margin-bottom 20px

    i
      padding 0 2px
    a
      color #fff
      padding 0 10px
      text-decoration none

  h4
    font-size 16px
    margin 0
    padding 0
    text-align center

  .qtyminus,
  .qtyplus
    align-items center
    background #607d8b
    border-radius 50%
    color #fff
    cursor pointer
    display flex
    font-size 30px
    height 40px
    justify-content center
    width 40px

  .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-4
    .border-card
      background-color #fff
      border-radius 10px
      overflow hidden

    .reservation-header
      background-color #556f7b
      color #fff
      text-align center
      padding 15px 0

      p
        margin 0
        padding 0

    .footer-paypal
      margin-bottom 15px
      p
        font-size 12px
        margin 0
        padding 0
      img
        max-width 250px
        width 70%

  #square-image
    align-items center
    display flex
    justify-content center
    width 100%

    img
      width 100%

  form
    margin 0

  .row-group
    float left

  .col-12
    position relative

  h2
    color $colorText
    font-size 30px
    margin 0
    padding 0

  #step-2,
  #step-3,
  #step-4,
  #step-5
    min-height 620px

  #step-2,
  #step-3,
  #step-4,
  #capacity-hiace,
  #capacity-sprinter,
  #capacity-shuttle,
  #pickup,
  #arrival,
  #departure,
  #grocery-stop-cash,
  #grocery-stop-paypal
    display none

  .area
    align-items center
    display flex
    margin-bottom 30px

    .selector,
    .title
      width 50%

    .title
      h3
        color $colorText
        font-size 20px
        margin 0

  .info
    width 100%

    .text
      display block
      overflow hidden
      padding 30px 15px

      h4
        border-bottom solid 2px $color1
        color $colorText
        font-family Raleway, Helvetica, sans-serif
        font-size 0.9em
        font-weight 700
        letter-spacing 0.1em
        margin 0 0 1em 0
        padding-bottom 1em
        text-transform uppercase

    .info-row
      align-items center
      display flex
      height 30px

      h6
        margin 0

      p
        height 30px
        line-height 30px
        margin 0
        overflow hidden
        padding-left 10px
        text-overflow ellipsis
        white-space nowrap


  .info.info-container
    flex-direction column
    padding 30px 15px

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="button"],
  input#form-hotel,
  select
    border 1px solid #000
    border-radius 20px
    color #000
    font-size 18px
    height 40px
    line-height 40px
    margin-bottom 20px
    outline none
    padding 0 10px
    width 100%
    -webkit-appearance none
    -moz-appearance none

  input[type="checkbox"]
    border 1px solid #000
    border-radius 20px
    color #000
    height 40px
    margin-bottom 20px
    outline none
    padding 0 10px
    width 40px

  input.submit-button
    background-color #607d8b
    border 0
    color $colorText
    margin-bottom 0
    width 100%

  input.submit-button[disabled="disabled"]
    opacity 0.5

  input::placeholder
    color $colorText
    height 30px
    line-height 30px
    opacity 1

  input:-ms-input-placeholder
    color $colorText

  input::-ms-input-placeholder
    color $colorText

  input::-webkit-calendar-picker-indicator
    filter invert(1)

  input#form-hotel
    margin-bottom 0

  #form-unit
    margin 0 10px 20px
    max-width 80px
    text-align center

  label
    font-size 14px
    font-weight 400
    margin-left 10px
    width 100%

  select
    -webkit-appearance menulist
    -moz-appearance menulist

  .easy-autocomplete-container
    ul
      background-color #fff

      li.selected
        background-color #556f7b
  .easy-autocomplete.eac-round
    margin-bottom 20px
    width auto !important

  .unit-image
    text-align center

    img
      max-width 150px

  .unit-txt
    padding 15px 0

    p
      line-height 20px
      margin 0

  .selected-unit
    background-color $color2

    .unit-txt
      color $colorText

  #step-3
    button
      background-color #556f7b
      border 0
      border-radius 4px
      color #fff
      width 100%

    #click-paypal
      height 1px
      width 1px

    input
      border 0
      width auto

    #paypal-button-container
      display flex
      justify-content center

    p
      font-size 16px
      margin 0

    #Thanks
      background-color #fef000
      height auto
      padding 30px 0
      text-align center

      p
        color $colorText
        font-size 20px
        margin 0

      img
        border 0
        width auto

@media(max-width: 991px)
  section#mycabotransfers
    .info
      .info-row
        display block
        height auto
        h6
          font-size 14px
        p
          font-size 18px
          line-height 18px
          padding-left 0

@media(max-width: 767px)
  section#mycabotransfers
    .info.special
      margin-top 30px
    .info
      .unit-txt
        p
          font-size 16px
          line-height 18px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

.margin-top-15
  margin-top 15px
