section#mainreserve
  background url('/images/banners/picatranasfers.png')
  background-size cover
  background-position center

section#mycabotransfers
  color $colorText
  font-family "Source Sans Pro", Helvetica, sans-serif
  font-size 16.5pt
  font-weight 300
  line-height 1.65
  margin 0
  padding 30px 0
  position: relative;

  form
    margin 0

  .margin-bottom-1r
    margin-bottom 1rem

  .margin-bottom-2r
    margin-bottom 2rem

  .padding-bottom-2r
    padding-bottom 2rem

  .row-group
    float left

  .zindex9
    z-index 9

  .col-12
    position relative

  h2
    color $colorText
    font-size 30px
    margin 0
    padding 0

  #step-3,
  #step-4,
  #capacity-hiace,
  #capacity-sprinter,
  #capacity-shuttle,
  #pickup,
  #arrival,
  #departure,
  #grocery-stop-cash,
  #grocery-stop-paypal
    display none

  .area
    align-items center
    display flex
    margin-bottom 30px

    .selector,
    .title
      width 50%

    .title
      h3
        color $colorText
        font-size 20px
        margin 0

    .selector
      .step
        background-color $color1
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 49%, 0% 0%)
        color $colorText
        display inline-block
        font-size 22px
        padding 0 20px
        position relative
        text-transform uppercase
        width fit-content
        z-index 4

      .step.selected
        background-color $color2

      .step.previous
        background-color $color2

      .step:nth-child(2)
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%)
        margin-left -15px
        z-index 3

      .step:nth-child(3)
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%)
        margin-left -15px
        z-index 2

      .step:nth-child(4)
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%)
        margin-left -15px
        z-index 1

  .info
    background-color $color1
    overflow hidden
    width 100%

    .text
      display block
      overflow hidden
      padding 30px 15px

      h4
        border-bottom solid 2px $color1
        color $colorText
        font-family Raleway, Helvetica, sans-serif
        font-size 0.9em
        font-weight 700
        letter-spacing 0.1em
        margin 0 0 1em 0
        padding-bottom 1em
        text-transform uppercase

    .info-row
      align-items center
      display flex
      height 30px

      h6
        margin 0

      p
        height 30px
        line-height 30px
        margin 0
        overflow hidden
        padding-left 10px
        text-overflow ellipsis
        white-space nowrap


  .info.info-container
    flex-direction column
    padding 30px 15px

  input,
  select
    background-color $color1
    border 1px solid $colorText
    color $colorText
    font-size 18px
    height 30px
    line-height 30px
    margin-bottom 20px
    outline none
    padding 0 10px
    width 100%
    -webkit-appearance none
    -moz-appearance none

  input.submit-button
    background-color $color2
    border 0
    color $colorText
    margin-bottom 0
    width 100%

  input.submit-button[disabled="disabled"]
    opacity 0.5

  input::placeholder
    color $colorText
    height 30px
    line-height 30px
    opacity 1

  input:-ms-input-placeholder
    color $colorText

  input::-ms-input-placeholder
    color $colorText

  input::-webkit-calendar-picker-indicator
    filter invert(1)

  input#form-hotel
    margin-bottom 0

  label
    background-color $color1
    font-size 11px
    font-weight 400
    margin-left 10px
    padding 0 10px
    position absolute
    top -10px

  select
    -webkit-appearance menulist
    -moz-appearance menulist

  .easy-autocomplete-container
    ul
      background-color $color1

      li.selected
        background-color $color2
  .easy-autocomplete.eac-round
    margin-bottom 20px
    width auto !important

  .footer-action
    border-top solid 2px $color1
    font-size 0.9em
    color $colorText
    font-family Raleway, Helvetica, sans-serif
    font-weight 700
    letter-spacing 0.1em
    margin 1em 0 0 0
    padding-top 1em
    text-transform uppercase

  .unit-image
    text-align center

    img
      max-width 150px

  .unit-txt
    padding 15px 0

    p
      line-height 20px
      margin 0

  .selected-unit
    background-color $color2

    .unit-txt
      color $colorText

  #step-4
    input
      border 0
      width auto

    #paypal-button-container
      display flex
      justify-content center

    p
      font-size 16px
      margin 0

    #Thanks
      background-color #fef000
      height auto
      padding 30px 0
      text-align center

      p
        color $colorText
        font-size 20px
        margin 0

      img
        border 0
        width auto

@media(max-width: 991px)
  section#mycabotransfers
    .info
      .info-row
        display block
        height auto
        h6
          font-size 14px
        p
          font-size 18px
          line-height 18px
          padding-left 0

@media(max-width: 767px)
  section#mycabotransfers
    .info.special
      margin-top 30px
    .info
      .unit-txt
        p
          font-size 16px
          line-height 18px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
