section#top-header
  background url("/images/banners/background-picatransfers.jpg")
  background-size cover
  background-position center center
  color #fff

  #center-logo
    padding 300px 0

    img
      max-width 400px
section#services
  background-color #96CDD4
  color #fff
  padding 30px 0

  h3
    font-size 30px
    margin-bottom 20px
    text-align center

  h4
    font-size 22px
    margin-bottom 10px

  p
    color #556f7b
    font-size 16px
    height 34px
    line-height 16px
    margin 0

  p.white
    color #fff

  .col-sm-3
    img
      height 80px
      margin 30px 0

  .box-grocery
    align-items center
    display flex
    height 100%
    justify-content center
    padding 20px

    p
      display block
      font-size 20px
      height unset
      line-height normal
      text-align justify

@media(max-width 575px)
  section#services
    h2
      font-size 30px
    h3
      font-size 26px
    .col-sm-3
      img
        height 50px
        margin 10px 0
    .box-grocery
      padding 0

      p
        font-size 18px
