section#welcome,
section#socialmedia
    padding 30px 0

    p
        color #000
        font-size 30px
        font-weight 400
        margin-bottom 30px
        text-align justify

    h2
        color #000
        font-size 40px
        font-weight 800
        margin-bottom 20px

    @media(max-width: 991px)
        h2
            font-size 30px
        p
            font-size 22px
