doctype html5
html
  head
    title Pica Transfer Los Cabos ·
    include _partials/header-main
    include _partials/scripts
  body
    include _section/menu
    include _section/top-header
    section#mainreserve
      include _reservations/mycabotransfers
    include _section/zones  
    include _section/welcome
    include _section/promo-1
    include _section/services
    include _section/promo-2
    include _Section/testimonials
    include _section/promo-3
    include _section/units
    include _section/location
    include _section/above-footer
    include _partials/footer
