doctype html5
html
  head
    title Pica Transfer Los Cabos
    include _partials/en/header-main
  body
    include _section/en/menu
    include _section/en/top-header
    section#mainreserve
      include _reservations/en/mycabotransfers
    include _section/en/testimonials
    include _section/en/units
    include _section/en/zones
    include _section/en/promo-1
    include _section/en/welcome
    include _section/en/promo-2
    include _section/en/location
    include _section/en/above-footer
    include _partials/en/footer
    include _partials/en/scripts
