doctype html5
html
  head
    title Pica Transfer Los Cabos ·
    include _partials/header-main
    include _partials/scripts
  body
    section#mainreserve
      include _reservations/mycabotransfers.php

