doctype html5
html
  head
    title Pica Transfer Los Cabos ·
    include _partials/header-main
    include _partials/scripts
  body
    include _section/hero
    include _section/welcome
    section#mainreserve
      include _reservations/mycabotransfers.php
    include _section/services
    include _section/units  
    //include _partials/footer
