doctype html5
html
  head
    title Pica Transfer Los Cabos
    include _partials/es/header-main
  body
    include _section/es/menu
    include _section/es/top-header
    section#mainreserve
      include _reservations/es/mycabotransfers
    include _section/es/testimonials
    include _section/es/units
    include _section/es/zones  
    include _section/es/promo-1
    include _section/es/welcome
    include _section/es/promo-2
    include _section/es/location
    include _section/es/above-footer
    include _partials/es/footer
    include _partials/es/scripts
