#step-4.row
  .col-sm-12
    .info.info-container
      #thanks-before.row
        .col-12
          .d-flex.align-items-center
          a#go-back-step-2.return-button(href='#')
            i.fa-solid.fa-chevron-left
            h4 PASO 3 - Escoge tu metodo de pago
        .col-12
          p.text-center Gracias por escogernos!
          p.text-center Puede pagar en efectivo cuando llegue a bordo de nuestra unidad o pagar ahora en PayPal.
          br
          .row
            .col-sm-6.text-center
              p
                strong PAGAR EN EFECTIVO
              .row
                .col-sm-6.text-right
                  p
                    strong Total
                .col-sm-6.text-left
                  p
                    strong#price-cash        
            .col-sm-6.text-center
              p
                strong PAGAR EN PAYPAL
              .row
                .col-sm-6.text-right
                  p Impuestos
                .col-6.text-left
                  p#selectedTax
              .row
                .col-sm-6.text-right
                  p
                    strong Total
                .col-sm-6.text-left
                  p
                    strong#priceTotal
              .row
                .col-12
                  form#paypalform(action='https://www.paypal.com/mx/cgi-bin/webscr' method='post' name='paypalform')
                    input(type='hidden' name='cmd' value='_xclick')
                    input(type='hidden' name='business' value='picatransfers.loscabos@gmail.com')
                    input(type='hidden' name='item_name' value='Tours')
                    input(type='hidden' name='currency_code' value='USD')
                    input(type='hidden' name='rm' value='2')
                    input(type='hidden' name='return' value='http://picatransferloscabos.com')
                    input(type='hidden' name='notify_url' value='http://picatransferloscabos.com')
                    input#item_number(type='hidden' name='item_number' value='')
                    input#price-paypal(type='hidden' name='amount' value='')
                    input#click-paypal.margin-top-20(type='image' src='https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_LG.gif' name='submit' alt="Make payments with PayPal - it's fast, free and secure!")
                    img(alt='' border='0' src='https://www.paypalobjects.com/es_XC/i/scr/pixel.gif' width='1' height='1')
          .row          
            .col-6.text-center
              button#gotothanks Pagar en Cash
            .col-6.text-center
              button#gotothankspaypal Pagar en Paypal           
      #thanks-after.row
        .col-12
          p.text-center Your transportation service is confirmed with us
          p.text-center Shortly You will receive your confirmation letter 
