#step-2.row
  form.col-sm-12
    .info.info-container
      .row
        .col-12
          h4 PASO 2 - A침ade tu informaci칩n
      .row
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Nombre completo
          input#form-name(type="text" name="name")
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Correo
          input#form-email(type="text" name="email")
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Telefono
          input#form-phone(type="number" name="phone")
      #arrival.row
        .col-12
          p Informaci칩n de llegada
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Fecha
          input#form-arrival-date(type="date" name="arrivaldate")
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Hora
          input#form-arrival-time(type="time" name="arrivaltime")
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Airline
          select#form-arrival-airline
            option(name="arrivalairline" value="Aeromexico") Aeromexico
            option(name="arrivalairline" value="Alaska Airlines") Alaska Airlines
            option(name="arrivalairline" value="American Airlines") American Airlines
            option(name="arrivalairline" value="Delta Airlines") Delta Airlines
            option(name="arrivalairline" value="JetBlue") JetBlue
            option(name="arrivalairline" value="Southwest") Southwest
            option(name="arrivalairline" value="Spirit") Spirit
            option(name="arrivalairline" value="United Airlines") United Airlines
            option(name="arrivalairline" value="Viva Aerobus") Viva Aerobus
            option(name="arrivalairline" value="Volaris") Volaris
            option(name="arrivalairline" value="WestJet") WestJet
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Vuelo #
          input#form-arrival-flight(type="text" name="arrivalflight" placeholder="Flight")
      #departure.row
        .col-12
          p Informaci칩n de salida
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Fecha
          input#form-departure-date(type="date" name="departuredate")
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Hora
          input#form-departure-time(type="time" name="departuretime")
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Airline
          select#form-departure-airline
            option(name="departureairline" value="Aeromexico") Aeromexico
            option(name="departureairline" value="Alaska Airlines") Alaska Airlines
            option(name="departureairline" value="American Airlines") American Airlines
            option(name="departureairline" value="Delta Airlines") Delta Airlines
            option(name="departureairline" value="JetBlue") JetBlue
            option(name="departureairline" value="Southwest") Southwest
            option(name="departureairline" value="Spirit") Spirit
            option(name="departureairline" value="United Airlines") United Airlines
            option(name="departureairline" value="Viva Aerobus") Viva Aerobus
            option(name="departureairline" value="Volaris") Volaris
            option(name="departureairline" value="WestJet") WestJet
        .col-12.col-sm-6.col-md-6.col-lg-6
          label Vuelo #
          input#form-departure-flight(type="text" name="departureflight" placeholder="Flight")
      .row
        .col-12
          label Requisitos
          input#form-comment(name="comments" type="text" placeholder="Baby seat, booster seat, grocery stop, etc")
        .col-sm-12
          input#send-step-2.submit-button(type="button" name="SEND" value="Check & Continuar")
