#step-3.row
  form.col-sm-12
    .info.info-container
      .col-12
        h4 PASO 3 - Algunos extras
      .row
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Silla de bebe
          input#form-babyseat(type='text' name='babyseat')
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Silla de niño
          input#form-busterseat(type='text' name='busterseat')
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Parada de compras por 30 min (30 USD)
          input#form-grocery(type='checkbox' name='grocery')
      .col-sm-12
        input#send-step-3.submit-button(type='button' name='SEND' value='SEND')
