section#above-footer
  background-color #96CDD4
  color #fff
  padding 20px 0

  h3
    font-size 30px
    line-height 60px

  a
    background-color #556F7B
    border-radius 50%
    color #fff
    display inline-block
    height 60px
    margin-right 20px
    text-align center
    text-decoration none
    width 60px

    i
      font-size 30px
      line-height 60px

section#footer
    color #fff
    background-color #607D8B
    font-size 14px
    padding 30px 0
    text-decoration none

    h3
        color $colorText
        font-size 20px
        height 44px
        margin 0
        padding 0

    a
        color $colorText

        text-decoration none
    i
        color $colorText
    p
        color $colorText
        line-height 14px
        margin 0


section#design
    background-color #556F7B
    color #fff
    font-size 11px
    overflow hidden
    padding 20px 0
    width 100%

    a, p
        color $colorText
        margin-bottom 0
        text-decoration none

.text-right
  text-align right

#whatsapp
  background-color #25d366
  border-radius 50%
  bottom 90px
  height 60px
  position fixed
  right 24px
  width 60px

  a
    align-items center
    color #fff
    display flex
    font-size 36px
    height 100%
    justify-content center
    text-decoration none

@media(max-width: 479px)
  #whatsapp
    bottom 80px
    height 54px
    right 14px
    width 54px

    a
      font-size 36px
