section#footer
    color #fff
    background-color $color1
    font-size 14px
    padding 30px 0
    text-decoration none

    h3
        color $colorText
        font-size 20px
        height 44px
        margin 0
        padding 0
        text-align center

    a
        color $colorText
        text-decoration none
    i
        color $colorText
    p
        color $colorText
        line-height 14px
        margin 0


section#design
    background-color $color1
    color #fff
    font-size 11px
    height 20px
    overflow hidden
    width 100%

    a, p
        color $colorText
        text-decoration none
