section#mycabotransfers
  .container
    #main-header.row
      .col-12
        h2 Picatransfers Los Cabos
      .col-12
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        a(href="https://www.tripadvisor.com.mx/Attraction_Review-g150773-d16962624-Reviews-Picatransfers_Los_Cabos-Los_Cabos_Baja_California.html" target="_blank") 55 reviews
      br
    .row
      .col-12.col-sm-12.col-md-6.col-lg-5.col-xl-4
        .border-card
          .reservation-header
            p 
              | From USD 
              |
              span#price $ 65.00
          include step-1
          include step-2
          include step-3
          .row
            .col-12.text-center.footer-paypal
              p Reserve Now & Pay Later
              p Secure your spot while staying flexible
              img(src="/images/icons/paypal-logo.png" width="80%")
                        
      .col-12.col-sm-12.col-md-6.col-lg-7.col-xl-8
        .border-card
          #square-image
            img(src="/images/photos/suburban.png")
        section#services
          .row
            .col-12
              .row
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/driver.png', data-aos='fade-right', data-aos-duration='1000')
                  p
                    | Bilingual drivers
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/vehicle.png', data-aos='fade-center', data-aos-duration='1000')
                  p
                    | Private units 
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/beverages.png', data-aos='fade-left', data-aos-duration='1000')
                  p
                    | Free bottled water   
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/road.png', data-aos='fade-right', data-aos-duration='1000')
                  p
                    | Toll Road fee included     
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/baby-seat.png', data-aos='fade-center', data-aos-duration='1000')
                  p
                    | Baby Seat
                .service-image.col-4.col-sm-4.col-md-4.col-lg-2.text-center
                  img(src='/images/vectors/flight.png', data-aos='fade-left', data-aos-duration='1000')
                  p
                    | Flight tracking
      
            .col-12.margin-top-15
              .box-grocery
                .d-block
                  p
                    strong GROCERY STOP
                    |  We also offer a shopping stop, this must be requested during your reservation, this service does include an additional cost.           
    
