#step-2.row
  form.col-sm-12
    .info.info-container
      .row
        .col-12
          h4 STEP 2 - Add your information
      .row
        #form-container-name.col-12.col-sm-12.col-md-12.col-lg-6
          label Full Name
          input#form-name(type="text" name="name")
        #form-container-email.col-12.col-sm-12.col-md-12.col-lg-6
          label Email
          input#form-email(type="text" name="email")
        #form-container-phone.col-12.col-sm-12.col-md-12.col-lg-6
          label Phone
          input#form-phone(type="number" name="phone")
      #arrival.row
        .col-12
          p Arrival Information
        #form-container-arrival-date.col-12.col-sm-6.col-md-6.col-lg-6
          label Date
          input#form-arrival-date(type="date" name="arrivaldate")
        #form-container-arrival-time.col-12.col-sm-6.col-md-6.col-lg-6
          label Time
          input#form-arrival-time(type="time" name="arrivaltime")
        #form-container-arrival-airline.col-12.col-sm-6.col-md-6.col-lg-6
          label Airline
          select#form-arrival-airline
            option(name="arrivalairline" value="Aeromexico") Aeromexico
            option(name="arrivalairline" value="Alaska Airlines") Alaska Airlines
            option(name="arrivalairline" value="American Airlines") American Airlines
            option(name="arrivalairline" value="Delta Airlines") Delta Airlines
            option(name="arrivalairline" value="JetBlue") JetBlue
            option(name="arrivalairline" value="Southwest") Southwest
            option(name="arrivalairline" value="Spirit") Spirit
            option(name="arrivalairline" value="United Airlines") United Airlines
            option(name="arrivalairline" value="Viva Aerobus") Viva Aerobus
            option(name="arrivalairline" value="Volaris") Volaris
            option(name="arrivalairline" value="WestJet") WestJet
        #form-container-arrival-flight.col-12.col-sm-6.col-md-6.col-lg-6
          label Flight #
          input#form-arrival-flight(type="text" name="arrivalflight" placeholder="Flight")
      #departure.row
        .col-12
          p Departure Information
        #form-container-departure-date.col-12.col-sm-6.col-md-6.col-lg-6
          label Date
          input#form-departure-date(type="date" name="departuredate")
        #form-container-departure-time.col-12.col-sm-6.col-md-6.col-lg-6
          label Time
          input#form-departure-time(type="time" name="departuretime")
        #form-container-departure-airline.col-12.col-sm-6.col-md-6.col-lg-6
          label Airline
          select#form-departure-airline
            option(name="departureairline" value="Aeromexico") Aeromexico
            option(name="departureairline" value="Alaska Airlines") Alaska Airlines
            option(name="departureairline" value="American Airlines") American Airlines
            option(name="departureairline" value="Delta Airlines") Delta Airlines
            option(name="departureairline" value="JetBlue") JetBlue
            option(name="departureairline" value="Southwest") Southwest
            option(name="departureairline" value="Spirit") Spirit
            option(name="departureairline" value="United Airlines") United Airlines
            option(name="departureairline" value="Viva Aerobus") Viva Aerobus
            option(name="departureairline" value="Volaris") Volaris
            option(name="departureairline" value="WestJet") WestJet
        #form-container-departure-flight.col-12.col-sm-6.col-md-6.col-lg-6
          label Flight #
          input#form-departure-flight(type="text" name="departureflight" placeholder="Flight")
      .row
        #form-container-comment.col-12
          label Complementary
          input#form-comment(name="comments" type="text" placeholder="Baby seat, booster seat, grocery stop, etc")
        .col-12.col-sm-12.col-md-12.col-lg-4
          label Baby Seat
          select#form-extras-babyseat
            option(name="babyseat" value="0 babyseat") 0
            option(name="babyseat" value="1 babyseats") 1
            option(name="babyseat" value="2 babyseats") 2
            option(name="babyseat" value="3 babyseats") 3
        .col-12.col-sm-12.col-md-12.col-lg-4
          label Car Seat
          select#form-extras-carseat
            option(name="carseat" value="0 carseat") 0
            option(name="carseat" value="1 carseat") 1
            option(name="carseat" value="2 carseat") 2
            option(name="carseat" value="3 carseat") 3    
        .col-12.col-sm-12.col-md-12.col-lg-4
          label Buster Seat
          select#form-extras-busterseat
            option(name="busterseat" value="0 busterseat") 0
            option(name="busterseat" value="1 busterseats") 1
            option(name="busterseat" value="2 busterseats") 2
            option(name="busterseat" value="3 busterseats") 3
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Grocery Stop for 30 min (30 USD)
          input#form-extras-grocery(type='checkbox' name='grocery')  
        .col-sm-12
          input#send-step-2.submit-button(type="button" name="SEND" value="Check & Continue" disabled='disabled')
