section#footer
  .container
    .row
      .col-sm-12.col-md-4.text-center
        img(src="../images/logo/picatransfersloscabos-white.png" width="60%", data-aos="fade-right", data-aos-duration="1000")
      .col-sm-12.col-md-4.text-left
        h3 NÚMEROS DE TELÉFONO
        p
          i.fa-solid.fa-mobile
          a(href="tel:+5216241601372") +52 (624) 160 1372
        br  
        h3 DIRECCIÓN DE CORREO
        p
          i.fa-regular.fa-envelope
          a(href="#")  picatransfers.loscabos@gmail.com
        br  
        h3 OFFICE ADRESS
        p
          i.fa-solid.fa-location-dot
          a(href="#")  Manzana 64 Lote 09 Los Cabos, Baja California Sur, 32437, México
          
      .col-sm-12.col-md-4.text-left
        h3 ENLACES
        .d-block
          a(href="#welcome") ACERCA DE NOSOTROS
        .d-block  
          a(href="#units") NUESTRA FLOTA
        .d-block
          a(href="#mycabotransfers") RESERVE AHORA
        .d-block  
          a(href="#services") NUESTROS SERVICIOS

section#design
  .container
    .row
      .col-sm-5.text-right.fs-6
        p
          | © 2024
          | Picatransfers Los Cabos
      .col-sm-2.text-center.fs-6
        img(src='../images/logo/mario-castro-gallegos.png', width='16px')
      .col-sm-5.text-left.fs-6
        a(href='http://mariocastrogallegos.com', target='_blank') diseño web en cabo
