section#above-footer
  .container
    .row
      .col-6.text-right
        h3 FOLLOW US ON SOCIAL MEDIA
      .col-6.text-left
        a(href='#')
          i.fa.fa-facebook
        a(href='#')    
          i.fa.fa-twitter
        a(href='#')    
          i.fa.fa-instagram      
