nav.navbar.navbar-expand-lg.navbar-light
    .container
        .navbar-brand
            a(href="/")
              img(src="/images/logo/picatransfers-white.png" alt="Pica Transfers Los Cabos" height="100")
        button.navbar-toggler.justify-content-end(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item
                    a.nav-link(aria-current="page" href="#welcome") Home
                li.nav-item
                    a.nav-link(href="#zones") Zones
                li.nav-item
                    a.nav-link(href="#map") Location
                li.nav-item
                    a.nav-link(href="#mycabotransfers") Book Now
                li.nav-item
                    a.nav-link(href="inicio.html") 
                        img(src='/images/flags/mx.png') 
                        | Spanish
