section#services
  .container
    .row
      .col-12.col-sm-8
        .row
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/driver.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Certified bilingual drivers
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/vehicle.png', data-aos='fade-center', data-aos-duration='1000')
            p
              | Private units 
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/beverages.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Free bottled water   
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/road.png', data-aos='fade-right', data-aos-duration='1000')
            p
              | Toll Road fee included     
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/baby-seat.png', data-aos='fade-center', data-aos-duration='1000')
            p
              | Baby Seat
          .service-imge.col-6.col-sm-4.col-md-4.col-lg-2.text-center
            img(src='/images/vectors/flight.png', data-aos='fade-left', data-aos-duration='1000')
            p
              | Flight tracking
      .col-12.col-sm-4
        .box-grocery
          .d-block
            h4 GROCERY STOP
            p.white We also offer a shopping stop, this must be requested during your reservation, this service does include an additional cost.           
