section#welcome
    .container
        .row
            .col-sm-12
                h2.text-center
                    | PicaTransfers Los Cabos
                p
                    | Welcome to PicaTransfers Los Cabos! With 20 years of dedicated service, we are proud to be a leading transportation company in the breathtaking region of Los Cabos. Our journey began two decades ago with a mission to provide seamless and reliable transportation solutions tailored to the diverse needs of both locals and visitors.
                p
                    | At PicaTransfers Los Cabos, we prioritize safety, comfort, and efficiency in every ride. Whether you need airport transfers, private tours, corporate transportation, or event shuttles, our experienced team is committed to ensuring a smooth and enjoyable journey from start to finish.
                p    
                    | Our modern fleet is equipped with top-notch amenities, and our professional, courteous drivers are knowledgeable about the area and dedicated to delivering exceptional service. Over the years, we have built lasting relationships with our clients, earning their trust through our unwavering commitment to punctuality, reliability, and personalized attention.
                p
                    | As a local company deeply rooted in the community, we understand the unique needs of our clientele and strive to exceed expectations at every turn. Whether you're a solo traveler, a family on vacation, attending a corporate event, or part of a group excursion, PicaTransfers Los Cabos is here to provide top-quality transportation solutions tailored to your specific requirements.
                p
                    | Thank you for considering PicaTransfers Los Cabos for your transportation needs. Join us on our journey as we continue to uphold our reputation for excellence and reliability in the stunning landscapes of Los Cabos

section#socialmedia
    .container
        .row
            .col-sm-12.col-md-6
                

            .col-sm-12.col-md-6
                .fb-page(data-href="https://www.facebook.com/Picatransfersloscabos/", data-width="750" data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
                    blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/Picatransfersloscabos/")
                        a(href="https://www.facebook.com/Picatransfersloscabos/") Pica Transfers Los Cabos
