#step-3.row
  form.col-sm-12
    .info.info-container
      .col-12
        h4 STEP 3 - Add some extras
      .row
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Baby Seat
          input#form-babyseat(type='text' name='babyseat')
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Buster Seat
          input#form-busterseat(type='text' name='busterseat')
        .col-12.col-sm-12.col-md-12.col-lg-6
          label Grocery Stop for 30 min
          input#form-grocery(type='checkbox' name='grocery')
      .col-sm-12
        input#send-step-3.submit-button(type='button' name='SEND' value='SEND')
